{{ partial "header-with-title.html" . }}

   {{ .Content }}

   <div class="intro">
    	<p class="titreintro">Là ou les rêves côtoient le réalité</p>
        <p>Donec faucibus, nisi in rhoncus sagittis, mi nisl commodo odio, sit amet vehicula massa nunc et metus. Nam et augue imperdiet, cursus magna ut, porta ex. Integer nulla purus, laoreet eget vulputate at, consectetur vitae sapien. Ut ut libero eros. Cras facilisis vulputate massa. </p>
    
    </div>
    
    <div class="content">
        <div class="post50">
          <div class="bord-contact">
             <div class="alex">   </div>
              <p class="titre">Alexandre Wille</p>
            <p>Donec faucibus, nisi in rhoncus sagittis, mi nisl commodo odio, sit amet vehicula massa nunc et metus. Utlibero eros. Cras facilisis vulputate massa, eu ultricies nunc tincidunt eget. </p>
            </div>
        </div>
      <div class="post50">
        <div class="bord-contact">
          <div class="sacha">   </div>
              <p class="titre">Sacha sirko</p>
          <p>Donec faucibus, nisi in rhoncus sagittis, mi nisl commodo odio, sit amet vehicula massa nunc et metus. Utlibero eros. Cras facilisis vulputate massa, eu ultricies nunc tincidunt eget. </p>
            </div>
        </div>
           <!-- -->
        <div class="break"></div>
          <!--  -->
        
         <div class="post50">
          <div class="bord-contact">
             <div class="benjamin">   </div>
              <p class="titre">Benjamin Denis</p>
            <p>Donec faucibus, nisi in rhoncus sagittis, mi nisl commodo odio, sit amet vehicula massa nunc et metus. Utlibero eros. Cras facilisis vulputate massa, eu ultricies nunc tincidunt eget. </p>
            </div>
        </div>
        
      <div class="post50">
          <div class="bord-contact">
             <div class="simon">   </div>
              <p class="titre">Simo Strebelle</p>
            <p>Donec faucibus, nisi in rhoncus sagittis, mi nisl commodo odio, sit amet vehicula massa nunc et metus. Utlibero eros. Cras facilisis vulputate massa, eu ultricies nunc tincidunt eget. </p>
            </div>
        </div>
         <!-- -->
        <div class="break">&nbsp;</div>
            <!--  -->
            <div class="intro">
            <p class="titreintro">Aider nous à réalisre tous notre voyage</p>
            <p>Pour cela offrez nous une petie somme... </p>
            
            
    
        </div>
    </div>

{{ partial "footer.html" . }}