@charset "UTF-8";
/* CSS Document */

html, body {
	margin: 0;
    padding: 0;
    border: 0;
}
a {
	border:none;
	text-decoration:none;
	color:#000;
	}
.container{
	width: 100%;
	font-family: 'Raleway', sans-serif;
	margin: 0;
}
h1, h1.noir  {
	padding-top: 15%;
	text-align: center;
	color: #FFF;
	font-size: 4em;
	margin:0px;
	text-shadow: 0 0 7px rgba(0,0,0, 0.5);

}
h1.noir {
	color: #000;
}
.header, .header-detail  {
	
	background-image:url("../images/mer-bleu.jpg");
    background-repeat: no-repeat;
    background-size: cover;
	background-position:center center;
	text-align: center;
	padding-bottom: 13%;
	margin-bottom: 30px;
		
	
	}
.header-contact {
	background-image:url("../images/vagues.jpg");
	ackground-repeat: no-repeat;
    background-size: 100% 100%;
	background-position:center center;
	text-align: center;
	padding-bottom: 13%;
	margin-bottom: 30px;
		

	}	
.header-detail {
	background-image:url("../images/IMG_0155-cover.jpg");
	
		

	}	
.header p  {
	text-align: center;
	color: #fff;
	font-size: 1.5em;
	text-shadow: 0 0 7px rgba(0,0,0, 0.5);
	}  
	nav {
	width: 30%;
	float:right;
	color: #fff;
	}
nav li {
	float: left;
	list-style-type: none;
	border-bottom: 4px solid #02142a;
	padding: 10px 15px;
	margin-right: 10px
	}
a.menu, a.menuNoir{
	
	color:#fff;
	text-decoration:none;
	text-shadow: 0 0 7px rgba(0,0,0, 0.5);
	}	
a.menuNoir{
	color:#000 !important;
	}	
.intro{
	width: 65%;
	margin:auto;
	text-align:center;
	line-height: 1.6em;
	font-size: 1.em;
	font-weight:300;
	padding: 40px 0 40px 0;
	}

p.titreintro {
	color: #001628;
	font-size: 1.3em;
	font-weight:bold;
	}
	
p.titre {
	font-family: 'Raleway', sans-serif;
	color:#5592be;
	font-weight:bold;
	font-size: 1.4em;
	text-align:center;
	
	}
a.bleu{
	color:#5592be;
	}	

 .content {
 	width: 78%;
	overflow:hidden;
	margin: auto;
    display: flex;
    flex-flow: row wrap;
    flex-basis: 2;
	
	}	
	
	
.break{
	clear:both;
	display:block;
	
		}	
.post, .post40, .post50, .post60 {
	display: inline-block;
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.9em;
	}

		
.post50{
	width: 50%;
}
.post60{
	width: 60%;
}
.post40{			
	width: 40%;
}
.post80{
	width: 80%;
	margin:auto;
	}				
.bord {
	padding: 25px;
	}
.bord-contact {
	padding: 10px;
	}		
.comments{
	background-color:#f6f7f8;
	padding: 15px;
	text-align:left;
	
	}
.comment{
	border-bottom: 1px solid #DADADA;
	padding: 5px;
	font-size: 0.85em;
	
	}
input[type=text] {
    width: 100%;
	
}


.rond, .alex, .sacha, .simon, .benjamin{
    background: url("../images/alex.jpg") no-repeat scroll center center / cover ;
    border-radius: 50%;
   height: 260px;
    width: 280px;

	margin:auto;
}
.alex {
    background: url("../images/alex.jpg") no-repeat scroll center center / cover ;
  
}
.sacha {
    background: url("../images/sacha.jpg") no-repeat scroll center center / cover ;
   
}
.simon {
    background: url("../images/simon.jpg") no-repeat scroll center center / cover ;
   
}
.benjamin {
    background: url("../images/benjamin.jpg") no-repeat scroll center center / cover ;
   
}
.footer{
	background : #282828;
	padding: 40px;
	 text-align: center;
	}
a.suite{
	color:#5592be;
	text-decoration: none;
	font-weight:bold;
	}	
a.suite:hover {
	text-decoration:underline;
	}	
	
.bouton-don{
	clear:both;
	border-radius: 10px;
	border: 2px solid #fff;
	}		