{{ partial "header.html" . }}

<style>
    .header {
        background-image:url("{{ .Site.BaseURL }}/{{ .Params.image_full }}");
        height: 50vh;
    }
</style>

<div class="content">
        
    <div class="post80">

        <div class="bord">
            <p class="titre">
                {{ .Title }}
            </p>

            {{ .Content }}
            
        </div>
    </div>
</div>

<div class="post80" style="margin-top:80px;margin-bottom:-60px;">
    <div id="disqus_thread"></div>
</div>

<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
*/
var disqus_config = function () {
this.page.url = {{ .Permalink }};  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = {{ .UniqueID }}; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = '//http-capalouest-me.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

{{ partial "footer.html" . }}