<div class="footer" style="position:relative;z-index:10;">
    <a href="#" style="padding: 10px; border:none; text-decoration:none;">
        <img src="{{ .Site.BaseURL }}images/facebook-logo.svg" width="40px" alt="">
    </a>
    <a href="#" style="padding: 10px; border:none; text-decoration:none;">
    <img src="{{ .Site.BaseURL }}images/instagram-logo.svg" width="40px" alt="">
    </a>
    <a href="#" style="padding: 10px; border:none; text-decoration:none;">
    <img src="{{ .Site.BaseURL }}images/twitter-logo.svg" width="40px" alt="">
    </a>
    <a href="#" style="padding: 10px; border:none; text-decoration:none;">
    <img src="{{ .Site.BaseURL }}images/youtube-play-button.svg" width="40px" alt="">
    </a>
</div>