<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Cap à l'ouest</title>
<meta name="viewport" content="width=device-width, user-scalable=no">
<link href="https://fonts.googleapis.com/css?family=Raleway:400,300" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet"> 
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css">
</head>

<body>
<div class="container"> 
	<div class="header">
    	<nav>
        	<ul>
            	<li><a href="/" class="menu">Accueil</a></li>
                <li><a href="/diapo" class="menu">Diaporama</a></li>
                <li><a href="/contact" class="menu">Contact</a></li>
            </ul>
            <div class="paypal">
            	<div class="bouton-don"><img src="{{ .Site.BaseURL }}images/paypal.png" height="40"></div>
            </div>    
                <div class="contour-Bouton">
                <img src="{{ .Site.BaseURL }}images/biere-small.png" style="display:inline; float:left;">
                <p style="font-size:12px; text-align:left;">Offrez-nous une bière </p>
            </div>
        </nav>
	</div>