{{ partial "header-with-title.html" . }} 

    <div class="intro">
    	<p class="titreintro">Là ou les rêves côtoient le réalité</p>

        <p>Donec faucibus, nisi in rhoncus sagittis, mi nisl commodo odio, sit amet vehicula massa nunc et metus. Nam et augue imperdiet, cursus magna ut, porta ex. Integer nulla purus, laoreet eget vulputate at, consectetur vitae sapien. Ut ut libero eros. Cras facilisis vulputate massa, eu ultricies nunc tincidunt eget. </p>
    
    </div>

    <div class="content">
      {{ range .Data.Pages }}
      {{ if eq .Type "post" }}
        <div class="post50">
            <div class="bord">
              <a href="{{ .Permalink }}"><img src="{{ .Params.image_vignette }}" style=" width: 100%"></a>
              <p class="titre">
                <a href="{{ .Permalink }}">{{ .Title }}</a>
              </p>
              <p>
               <a href="{{ .Permalink }}">{{ .Summary }}...</a>
              </p>
              <p><a href="{{ .Permalink }}" class="suite">Lire la suite...</a></p>
            </div>
        </div>
      {{ end }}
      {{ end }}
    </div>
    
</div>
{{ partial "footer.html" . }}
</body>
</html>
